<h1>Listing cells</h1>

<table>
  <thead>
    <tr>
      <th>Names</th>
      <th>Cell</th>
      <th>Cd22</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cells.each do |cell| %>
      <tr>
        <td><%= cell.names %></td>
        <td><%= cell.Cell %></td>
        <td><%= cell.CD22 %></td>
        <td><%= link_to 'Show', cell %></td>
        <td><%= link_to 'Edit', edit_cell_path(cell) %></td>
        <td><%= link_to 'Destroy', cell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Import Cells</h3>
<%= form_tag import_cells_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload Cells" %>
<% end %>

<%= link_to 'New Cell', new_cell_path %>
